/*colors*/
$black: #333;
$grey: #efefef;
$red: #fc354c;
$white: #fff;
$blue: #6ab4ff;
$gray: #494949;
$navbar-gray: #1B1B1B;
$div-box: #B3B3B3;
$green: #42A10E;

/*fontpacks*/

/*fontsize*/
$title: 2em;

/*sidebar*/
$sidebar_width: 300px;
